html,body {
    font-family: Raleway;
}
/*//// css -> html////////*/

.flexCenter
{
display: flex;
justify-content: center;
align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*///////////nav//////////*/
.decoNone
{
    text-decoration: none;
}
.sizeLiens
{
    width: 45%;
}
.sizeLien
{
width: 140px;
height: 99px;
}
.colorH
{
    color:#0065fc;
}
.colorA
{
    color: black;
}
.colorS
{
    color:#0065fc;
}
/*///// color bordure nav/////*/
.bordureNav
{
    border-top: 1px solid #0065fc;
}