
body{
    font-family: 'Raleway-regular.ttf', sans-serif;
}

    


/*//// css -> html////////*/
.marge8
{
    margin: 8px;
   
}

.imageLogo{
    width: 100px;
    height: 50px;
}



.flexStart
{
display: flex;
justify-content: flex-start;
align-self: start;
}

.flexCenter
{
display: flex;
justify-content: center;
align-items: center;
}
.flexAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumnCenter
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.flexcolumnAround
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumnBetween
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*///////////nav//////////*/


.decoNone
{
    text-decoration: none;
}
.sizeLiens
{
    width: 100%;
}
.sizeLien
{
width: 140px;
height: 99px;
}
.colorH
{
    color:#0065fc;
}
.colorA
{
    color: black;
}
.colorS
{
    color:#0065fc;
}


/*///// color bordure nav/////*/

#Nav{
    display: grid;
    grid-template-columns: 70% 1fr 1fr 1fr;
    margin-top: 50px;
    
}
.Nav{
display: flex;
}
.ImageN{
    margin-left: 20px;

}
.hébergementN{
    display: flex;
    align-items: center;
    justify-content: center;
}
.activitéN{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inscrirN{
    display: flex;
    align-items: center;
    justify-content: center;

}

.GrasT{
    font-size: xx-large;
    margin-bottom: 0px;
}
.enpleinMarge{
    margin-bottom: 30px;
}

.bordureNav
{
    border-top: 2px solid transparent;
    
}

.bordureNavtranspaent
{
    border-top: 2px solid transparent;
    
}
.bordureNav:hover
{
    border-top: 2px solid #0065fc;
    cursor: pointer;
    
}
.bordureNav:hover > a
{
   color: #0065fc;
}


/*////////couleur texte///////*/

.texteTaille{
    font-size: medium;
}
.texteGras
{
    font-weight: bold;
}


/*////////Barre de recherche//////////*/
.Recherche{
    margin-left: 20px;
}

.paddingrecherche
{
padding-left: 20px;
}
.bordureNone
{
    border: none;
}
.bordureSearch
{
    width: 400px;
    border-radius: 10px;
    border: 01px solid #f2f2f2;
}
.iconeSize
{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.recherche
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.boutonR
{
height: 50px;
width: 120px;
color: white;
cursor: pointer;
border-radius: 0 10px 10px 0;
}
.boutonR:hover
{
color: #0065fc;
background-color: #f2f2f2;
}
.desktopNone{
    display: none;
}

/*////////couleur et font///////*/

.colorNoire
{
    color: black;
}
.colorGris
{
    color:#f2f2f2
}
.colorBleu
{
    color:#0065fc;
}
.colorBleuclaire
{
    color:#deebff;
}
.colorBleuclaireB
{
    background-color: #deebff;
}
.colorBleuB
{
    background-color: #0065fc;
}
.colorGrisB
{
    background-color: #f2f2f2;
}

/*//////Filtre//////*/

.Filtre{
    margin-left: 20px;
}
.MargeBloc1
{
    margin-right: 40px;
}
.Filters {
    width: 70%;
    display: flex;
    margin-top: 2rem;
  }
  .FiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
  }
  .FiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 40px;
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 25px;
  }
  .FiltersFilter:last-child {
    margin-right: 0;
  }
  .FiltersFilter:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
  }
  .FiltersFilterWrapicon {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
  }
  .FiltersFilterWrapiconIcon {
    color: blue;
  }
  .FiltersFilterTitle {
    margin: 0 1rem;
  }

  .desktopNone{
      display: none;
  }


/*////////info/////////*/
.info
{
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.infoS
{
    width: 20px;
    height: 20px; 
    border: 2px solid #f2f2f2;  
    border-radius: 25px;
    margin-right: 5px;
}


/*///////Hébergements à Marseille/////////*/
#Hébergements{
    height: 800px;
    width: 65%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 33% 31% 31%;
    grid-template-rows: 10% 33% 33% 15%;
    grid-row-gap: 35px;
    background-color: #f2f2f2;
    
   
}

.Hébergements{

    display: inline-grid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TH{
    grid-column: 1;
    grid-row: 1;
    margin-left: 15px;
    padding-top: 50px;
    font-size: 26px;
    margin-left: 35px;
}
.BH1{
    grid-column: 1;
    grid-row: 2;
    
    
}
.BH2{
    grid-column: 2;
    grid-row: 2;
   
}
.BH3{
    grid-column: 3;
    grid-row: 2;
 
}
.BH4{
    grid-column: 1;
    grid-row: 3;
    
}
.BH5{
    grid-column: 2;
    grid-row: 3;
    
}
.BH6{
    grid-column: 3;
    grid-row: 3;
    
}
.AfficherP{
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 50px;
   margin-left: 35px;
    font-size: x-large;
    
}


/*///////images/////*/
.shadow{

    border-radius: 15px;
box-shadow:  8px 8px 8px 8px rgb(15, 15, 15);
}
.shadowimage
{
width: 20%;
border-radius: 15px;
box-shadow:  5px 5px 5px 5px rgb(199, 197, 197);
}

.imgHebergement1
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement2
{
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement3
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement4
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement5
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement6
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
    
}
.blocH
{
    padding-left: 20px;
    padding-right: 20px;
}

.finitionH
{
   width: 100%; 
}

.blocTexesEtoiles
{
    padding-left: 30px;
    width: 78%;
    height: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-left: 30px;
    
}
.blocTexesEtoiles:hover
{
cursor: pointer;
transform: scale(1.1);
}

.afficherplus
{
    
    cursor: pointer; 
}


/*///////Les plus populaires//////*/

#Populaire{
    width: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 200px 200px 200px;
    grid-row-gap: 20px;
    background-color: #f2f2f2;
}
.Populaire{
    display: inline-grid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TP{
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 26px;
}
.Symbol{
    display: flex;
   justify-content: flex-end;
   padding-right: 30px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
    padding-top: 50px;
}
.Symbol:hover{
    cursor: pointer;
}

.PH1{
    grid-column: 1;
    grid-row: 2;
}
.TP2{
    grid-column: 1;
    grid-row: 3;
}
.TP3{
    grid-column: 1;
    grid-row: 4;
}
.blocimgP
{display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-top: 25px;
}
.blocimgP:hover
{
    cursor: pointer;
transform: scale(1.05);
}

.blocP1-2-3
{ 
 width: 85%;   
height: 160px;
box-shadow: 5px 5px 5px 1px rgb(199, 197, 197); 
margin-bottom: 10px;
margin-left: 40px;
margin-right: 30px;
}

.imgPopulaire1
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 35%;
    border-radius: 15px 0 0 15px;
}
.imgPopulaire2
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 35%;
    border-radius: 15px 0 0 15px;
}
.imgPopulaire3
{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 35%;
    border-radius: 15px 0 0 15px;
}
.FinitionimgP{
    margin-left: 15px;
}
.EtoilesBottom{
    margin-top: 60px;
}
.EtoilesBottom1{
    margin-top: 40px;
}
.EtoilesBottom2{
    margin-top: 60px;
}
.H-PROW{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
/*////////Activités à Marseille/////*/


#Activités {
    margin-left: 15px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    grid-row-gap: 30px;
    width: 97%;
  }
  
  .activités{
    display: inline-grid;
        display: flex;
  }
  
  .titreActivité {
    grid-column: 1/-1;
    font-size: xx-large;
  }
  
  .activitéCadre {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
  }
  .activitéCadre:hover{
    cursor: pointer;
    transform: scale(1.05);
    
  }
  .ActivitéWrap {
    position: relative;
    flex: 1;
  }
  .activitésCadreWrapimg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .activitéCadreH3 {
    margin: 1.2rem 1.5rem;
  }
 
  .cadrecolum{
      flex-direction: column;
  }
 .activitéCadre1{
     grid-column: 1;
     grid-row: 2;
     grid-row: span 2;
     height: 500px;
    
 }
 .activitéCadre2{
     grid-row: span ;
     height: 275px;
     
 }
  
 .activitéCadre3{
     grid-column: 2;
     grid-row: 3;
     height: 200px;
    
 }
 .activitéCadre4{
     grid-column: 3;
     grid-row: 2;
     grid-row: span 2;
 }
 .activitéCadre5{
    height: 270px;
 }
 .activitéCadre6{
     height: 200px;
     
 }
 
/*/////////////Footer////////////*/

#Footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0fr;
    margin-top: 50px;
    grid-column-gap: 300px;
    background-color: #f2f2f2;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 97%;
}
.Footer{
    display: inline-grid;
    background-color: #f2f2f2;
    height: 170px;
}
.Apropos{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
   padding-left: 20px;
   width: 250px;
}
.Hebergement{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    width: 200px;
}
.Assistance{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1;
    width: 150px;
}


.Decolien{
    text-decoration: none;
  color:inherit
}



/*////////media queries/////////*/
@media screen and (max-width: 1500px){
    .Filters{
        width: 90%;
    }
    .EtoilesBottom2{
        margin-top: 50px;
    }
}
@media screen and (max-width: 1440px){
    .EtoilesBottom{
        margin-top: 60px;
    }
    .EtoilesBottom1{
        margin-top: 45px;
    }
    .EtoilesBottom2{
        margin-top: 45px;
    }
    .TH{
        font-size: 22px;
        margin-left: 15px;
    }
    .TP{
        font-size: 22px;
    }
    .blocP1-2-3{
        margin-left: 25px;
    }
    .BH1{
        margin-left: 15px;
    }
    .BH2{
        margin-left: 15px;
    }
    .BH3{
        margin-left: 15px;
    }
    .BH4{
        margin-left: 15px;
    }
    .BH5{
        margin-left: 15px;
    }
    .BH6{
        margin-left: 15px;
    }
}

@media screen and (max-width: 1366px){
    .TailleHT{
        margin: 0px;
        margin-left: 5px;
    }
    .EtoilesBottom{
        margin-top: 45px;
    }
    .TopEH{
        margin-top: 15px;
    }
    
}
@media screen and (max-width: 1354px){

    .EtoilesBottom{
        margin-top: 45px;
    }

}

@media screen and (max-width: 1280px){
.Margin320{
    margin-right: 30px;
}
.MargeBloc1{
    margin-right: 30px;
}
.MR{
    margin-right: 30px;
}
.H-PROW{
    display: flex;
    flex-direction: column-reverse;
}
#Populaire{
    width: 97%;
    height: 300px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 300px
   
}

.margePI{
    font-size: 15px;
}
.PH1{
    grid-column: 1;
    grid-row: 2;
    margin-left: 40px;
    margin-right: 0px;
}

.PH2{
    grid-column: 2;
    grid-row: 2;
    margin-right: 20px;
}
.PH3{
    grid-column: 3;
    grid-row: 2;
    margin-right: 50px;
}
.Symbol{
    grid-column: 3;
    grid-row: 1;
}
.EtoilesBottom{
    margin-top: 70px;
}
.EtoilesBottom1{
    margin-top: 57px;
}
.EtoilesBottom2{
    margin-top: 75px;
}
.blocP1-2-3{
width: 325px;
margin-bottom: 140px;

}

#Hébergements{
    width: 97%;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 50px;
   
}
#Activités{
    margin-left: 5px;
}
#Footer{
    grid-column-gap: 200px;
margin-left: 20px;
}

}
@media screen and (max-width: 1024px){
    #Nav{
        width: 97%;
    }
    .MTN1{
        margin-right: 20px;
    }
    .MTN2{
        margin-right: 20px;
    }
    .MT3{
        margin-right: 20px;
    }
    
    .PH3{
        margin-left: 20px;
    }
.blocP1-2-3{
    width: 275px;
}
.EtoilesBottom{
    margin-top: 57px;
}
.EtoilesBottom2{
    margin-top: 60px;
}
#Populaire{
    margin-left: 15px;
}
#Hébergements{
    margin-left: 15px;
}
#Activités{
    padding: 0px;
    margin-left: 15px;
}
    #Footer{
        grid-column-gap: 100px;
    margin-left: 15px;
    }

}

@media screen and (max-width: 823px){
.GrasT{
    font-size: x-large;
}

    #Nav{
        display: grid;
        grid-template-columns: 50% 1fr 1fr 1fr;
      
    }
.filtreWrap{
    display: flex;
    flex-wrap: wrap;
}

.navH-A{
    margin-left: 100px;
}


#Populaire{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 27% 25% 25%;
    grid-row-gap: 10px;
    height: 800px; 
    margin-top: 0px;
    margin-bottom: 0px;
}
.TP{
    padding-top: 0px;
}
.Symbol{
margin-left: 0px;
padding-top: 0px;
}

.PH1{
    grid-column: 1;
    grid-row: 2;
    margin-left: 40px;
}
.PH2{
    grid-column: 1;
    grid-row: 3;
}
.PH3{
    grid-column: 1;
    grid-row: 4;
}

.EtoilesBottom{
    margin-top: 50px;
}
.EtoilesBottom1{
    margin-top: 40px;
}
.EtoilesBottom2{
    margin-top: 60px;
}
.blocP1-2-3{
width: 250px;
margin-bottom: 80px;
}

.blocimgP{
    width: 95%;
}


#Hébergements{

    height: 1050px;
    width: 93%;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50px 250px 250px 250px 50px;
    grid-row-gap: 50px;
    margin-bottom: 0px;

}
.Hébergements{
    padding-left: 20px;
}
.H-PROW{
    height: 2000px;
    
}

    .TH{
        grid-column: 1;
        grid-row: 1;
        font-size: x-large;
    }
    .BH1{
        grid-column: 1;
        grid-row: 2;
        
    }
    .BH2{
        grid-column: 2;
        grid-row: 2;
       
    }
    .BH3{
        grid-column: 1;
        grid-row: 3;
     
    }
    .BH4{
        grid-column: 2;
        grid-row: 3;
       
    }
    .BH5{
        grid-column: 1;
        grid-row: 4;
        
    }
    .BH6{
        grid-column: 2;
        grid-row: 4;
        
    }
    .AfficherP{
        grid-column: 1;
        grid-row: 5;
        font-size: x-large;
        
    }
    
    #Activités {
    
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 25% 25% 25%;
      }
      
      .titreActivité {
        grid-column: 1;
        grid-row: 1;
      }
      
     .activitéCadre1{
         grid-column: 1;
         grid-row: 2;
         height: 200px;
     }

     .activitéCadre2{
        
        grid-column: 2;
        grid-row: 2;
        height: 200px;
     }
      
     .activitéCadre3{
         grid-column: 1;
         grid-row: 3;
         height: 200px;
     }
     .activitéCadre4{
         grid-column: 2;
         grid-row: 3;
         height: 200px;
     }
     .activitéCadre5{
        grid-column: 1;
         grid-row: 4;
         height: 200px;
     }
     .activitéCadre6{
        grid-column: 2;
        grid-row: 4;
        height: 200px;
     }

#Footer{
    width: 95%;
    margin-top: 0px;
    grid-column-gap: 50px;
}
.Footer{
    width: 90%;
}
.Apropos{

    grid-column: 1;
    grid-row: 1;
}
.Hebergement{

    grid-column: 2;
    grid-row: 1;
}
.Assistance{
    grid-column: 3;
    grid-row: 1;
}
}
@media screen and (max-width: 810px){
    .PH2{
        margin-left: 40px;
    }
    .PH3{
        margin-left: 40px;
    }
    .imgPopulaire1{
        max-width: 230px; 
     }
     .imgPopulaire2{
         max-width: 230px;
     }
     .imgPopulaire3{
         max-width: 230px;
     }
     .margePI{
         font-size: 25px;
     }
     #Hébergements{
        margin-left: 15px;
        padding-left: 0px;
        width: 95%;
    }
    .TH{
        margin-left: 0px;
    }
    .BH1{
        margin-left: 0px;
    }
    .BH3{
        margin-left: 0px;
    }
    .BH5{
        margin-left: 0px;
    }
    .blocTexesEtoiles{
    width: 270px;
    }
    .imgHebergement1{
        height: 140px;
    }
    .imgHebergement2{
        height: 140px;
    }
    .imgHebergement3{
        height: 140px;
    }
    .imgHebergement4{
        height: 140px;
    }
    .imgHebergement5{
        height: 140px;
    }
    .imgHebergement6{
        height: 140px;
    }
    .AfficherP{
        margin-left: 0px;
    }
    #Activités{
        width: 95%;
    }
}
@media screen and (max-width: 768px){
.imgPopulaire1{
   max-width: 230px; 
}
.imgPopulaire2{
    max-width: 230px;
}
.imgPopulaire3{
    max-width: 230px;
}
.margePI{
    font-size: 25px;
}

    .PH3{
        margin-left: 40px;
    }
#Hébergements{
    margin-left: 15px;
    padding-left: 0px;
    width: 95%;
}
.TH{
    margin-left: 0px;
}
.BH1{
    margin-left: 0px;
}
.BH3{
    margin-left: 0px;
}
.BH5{
    margin-left: 0px;
}
.blocTexesEtoiles{
width: 270px;
}
.imgHebergement1{
    height: 140px;
}
.imgHebergement2{
    height: 140px;
}
.imgHebergement3{
    height: 140px;
}
.imgHebergement4{
    height: 140px;
}
.imgHebergement5{
    height: 140px;
}
.imgHebergement6{
    height: 140px;
}
.AfficherP{
    margin-left: 0px;
}
#Activités{
    width: 95%;
}
}
@media screen and (max-width: 667px){
    .MargeBloc1{
        margin-right: 0px;
        margin-left: 40px;
    }
.navH-A{
    margin-left: 40px;
}
.blocTexesEtoiles{
    width: 225px;
}
#Footer{
    width: 95%;
    grid-column-gap: 100px;
}
.Footer{
    height: 500px;
}

.Apropos{

    grid-column: 1;
    grid-row: 1;
    margin-left: 180px;
    padding-left: 0px;
}
.Hebergement{
    margin-left: 180px;
    grid-column: 1;
    grid-row: 2;
}
.Assistance{
    margin-left: 180px;
    grid-column: 1;
    grid-row: 3;
}
}

@media screen and (max-width: 415px){

    #Nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        grid-template-rows: 50px 50px;
        grid-row-gap: 30px;  
        margin-top: 20px;
    }
    .bordureNav{
        border-bottom: 3px solid #f2f2f2
    }
    .bordureNav:hover
    {
        border-top: 0px solid #0065fc;
        border-bottom: 3px solid #0065fc;
        cursor: pointer;
    }
.Grid1{
    grid-column: 1;
    grid-row: 1;
    
}
.Grid2{
    
    grid-column: 1;
    grid-row: 2;
    
}
.Grid3{
    grid-column: 2;
    grid-row: 2;
}

.Grid4{
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    margin-left: 70px;
    border-bottom: 0px solid #f2f2f2;
    
}

.GrasT{
    font-size: x-large;
    width: 98%;

}
.margerecherche{
    width: 90%;
}
.bordureSearch{
    width: 90%;
    border: none;
}
.boutonR{

width: 50px;
border-radius: 15px;
}

 
.PhoneNone{
    display: none;
}

.desktopNone{
    display: block;
}

.MargeBloc1{
    margin-left: 0px;
}

.navH-A{
    flex-wrap: wrap;
    margin-left: 0px;
padding-right: 130px;
margin-bottom: 0px;

}
.MargeBloc1
{
    width: 340px;
    margin-left: 10px;
}
.info{
    margin-bottom: 20px;
}

.FiltersFilter{
padding: 0px;
}

#Populaire{
    width: 95%;
    margin-left: 10px;
    margin-right: 0px;
    height: 600px;
    grid-template-rows: 100px 150px 150px 150px;
    padding-bottom: 30px;
}
.margePI{
    font-size: 15px;
}
.TP{
    padding-top: 20px;
    margin: 0px;
    margin-left: 20px;
    font-size: x-large;
}
.Symbol{

margin-left: 0px;
padding-top: 20px;
font-size: small;
}

.PH1{
    grid-column: 1;
    grid-row: 2;
    
}
.PH2{
    grid-column: 1;
    grid-row: 3;
}
.PH3{
    grid-column: 1;
    grid-row: 4;
}

.EtoilesBottom{
    margin-top: 50px;
}
.EtoilesBottom1{
    margin-top: 40px;
}
.EtoilesBottom2{
    margin-top: 55px;
}
.blocP1-2-3{
width: 105%;
height: 140px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 15px;
margin-right: 0px;

}

.H-PROW{
    height: 2100px;
}

#Hébergements{
background-color: white;
  height: 1500px;
    width: 97%;
    margin-left: 15px;
    grid-template-columns: 97%;
    grid-template-rows: 3% 10% 10% 10% 10% 10% 10% 3%;
    grid-row-gap: 50px;
   margin-left: 5px;
    margin-top: 20px;

}
.Hébergements{
    padding-left: 0px;
    
}
.blocTexesEtoiles{
    height: 200px;
    width: 93%;
    padding: 5px;
    
    
}

    .TH{
        margin-left: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
        grid-column: 1;
        grid-row: 1;
        font-size: x-large;
        padding: 5px;
    }
    .BH1{
        grid-column: 1;
        grid-row: 2;
       padding: 5px;
       margin-left: 0px;
    }
    .BH2{
        grid-column: 1;
        grid-row: 3;
        padding: 5px;
        margin-top: 50px;
        margin-left: 0px;
    }
    .BH3{
        grid-column: 1;
        grid-row: 4;
        padding: 5px;
        margin-top: 100px;
        margin-left: 0px;
    }
    .BH4{
        grid-column: 1;
        grid-row: 5;
        padding: 5px;
        margin-top: 150px;
        margin-left: 0px;
    }
    .BH5{
        grid-column: 1;
        grid-row: 6;
        padding: 5px;
        margin-top: 200px;
        margin-left: 0px;
    }
    .BH6{
        grid-column: 1;
        grid-row: 7;
        padding: 5px;
        margin-top: 250px;
        margin-left: 0px;
    }
    .AfficherP{
        grid-column: 1;
        grid-row: 8;
        font-size: x-large;
        margin-bottom: 0px;
        padding: 5px;
        margin-top: 300px;
        margin-left: 0px;
    }

    
    
    .imgHebergement1
    {
        height: 100px;
    }
    .imgHebergement2
    {
        height: 100px;
    }
    .imgHebergement3
    {
        height: 100px;
    }
    .imgHebergement4
    {
        height: 100px;
    }
    .imgHebergement5
    {
        height: 100px;
    }
    .imgHebergement6
    {
        height: 100px;
    }

    

    #Activités {
        display: grid;
        grid-template-columns: 97%;
        grid-template-rows: 3% 10% 10% 10% 10% 10% 3%;
        grid-row-gap: 80px;
        margin-left: 15px;
        height: 1450px;
      }
      
      .titreActivité {
          margin-top: 50px;
        grid-column: 1;
        grid-row: 1;
      }
      
     .activitéCadre1{
         grid-column: 1;
         grid-row: 2;
         height: 200px;
     }

     .activitéCadre2{
        
        grid-column: 1;
        grid-row: 3;
        height: 200px;
     }
      
     .activitéCadre3{
         grid-column: 1;
         grid-row: 4;
         height: 200px;
     }
     .activitéCadre4{
         grid-column: 1;
         grid-row: 5;
         height: 200px;
     }
     .activitéCadre5{
        grid-column: 1;
         grid-row: 6;
         height: 200px;
     }
     .activitéCadre6{
        grid-column: 1;
        grid-row: 7;
        height: 200px;
     }

     #Footer{
        width: 95%;
        margin-top: 0px;
        margin-left: 8px;
        
    }
    
    .Apropos{
        margin-left: 30px;
        grid-column: 1;
        grid-row: 1;
      width: 300px;
    }
    .Hebergement{
        margin-left: 30px;
        grid-column: 1;
        grid-row: 2;
        width: 300px;
    }
    .Assistance{
        margin-left: 30px;
        grid-column: 1;
        grid-row: 3;
        width: 300px;
    }


}
@media screen and (max-width: 375px){
    .GrasT{
        font-size: 125%;
        margin: 0px;
        margin-top: 30px;
        font-weight: bold;
    }
    #Recherche{
        margin-left: 15px;
    }
    .recherche{
    width: 190px;
    margin-left: 10px;
    }
    .FiltersFilter{
        margin-right: 12px;
    }
    .BH1{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
        
    }
    .BH2{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
    }
    .BH3{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
    }
    .BH4{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
    }

    .BH5{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
    }
    .BH6{
        margin-left: 0px;
        width: 95%;
        margin-right: 35px;
        
    }
    .AfficherP{
        margin-left: 0px;
    }
    .TH{
        margin-left: 0px;
    }
    .MargeBloc1{
        margin-left: 0px;
    }
    .EtoilesBottom{
        margin-top: 55px;
    }
    .EtoilesBottom1{
        margin-top: 40px;
    }
    .EtoilesBottom2{
        margin-top: 40px;
    }
    .TailleHT{
        margin-top: 8px;
    }
    .titreActivité{
        font-size: x-large;
    }
.Margin320{
    margin-right: 15px;
}
.Footer{
    height: 430px;
}

}
@media screen and (max-width: 320px){
    .MargeBloc1{
        flex-wrap: wrap;
        margin-right: 50px;
        }
        .navH-A{
            margin-left: 0px;
            padding-right: 0px;
        }
        
        .Margin320{
            margin-left: 30px;
        }
        
        .TP{
            font-size: medium;
        }
        .EtoilesBottom{
            margin-top: 20px;
        }
        .EtoilesBottom1{
            margin-top: 20px;
        }
        .EtoilesBottom2{
            margin-top: 40px;
        }
        .marge8{
            font-size: 15px;
        }
        .TH{
            font-size: 20px;
        }
        .AfficherP{
            font-size: 15px;
        }
        .titreActivité{
            font-size: 20px;
        }
        
        .Grid4{
            margin-right: 10px;
        }
        #Footer{
            width: 95%;
        }
        #Footer{
            margin-left: 10px;
        }
        .Apropos{
            margin-left: 20px;
          width: 270px;
        }
        .Hebergement{
            margin-left: 20px;
            width: 270px;
        }
        .Assistance{
            margin-left: 20px;
            width: 270px;
        }
}
@media screen and (max-width: 280px){
 .GrasT{
     font-size: 18px;
 }
 .recherche{
     width: 150px;
     font-size: 15px;
     padding-left: 7px;
 }
 .navH-A{
     margin-left: 40px;
 }
.Margin320{
    margin-left: 35px;
}
.margePI{
    font-size: 12px;
}
.EtoilesBottom{
    margin-top: 30px;
}
.EtoilesBottom2{
    margin-top: 30px;
}
}